<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout | Desing Studio</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="top-header">
        <header>
            <div class="container">
                <div class="logo">
                    <h1>silika</h1>
                    <a href="#" class="secondary-color">We’re Hiring</a>
                </div>
                <!-- fim: logo -->
                <nav>
                    <ul>
                        <li><a href="#">user cases</a></li>
                        <li><a href="#">resources</a></li>
                        <li><a href="#">weekly demos</a></li>
                        <li><a href="#">pricing</a></li>
                    </ul>

                </nav>

                <!-- fim:menu -->
                <div class="login">
                    <a href="#">Login</a>
                    <a href="#" class="primary-color">Get Started</a>
                </div>
            </div>
        </header>
        <div class="cta">
            <div class="container">
                <h2>Silika Helps <br>Marketing Agencies!</h2>
                <p>At nulla tristique facilisis augue. Lectus diam dignissim erat blandit pellentesque egestas nulla a.
                    Nulla consectetur nunc egestas metus pellentesque.</p>

                <div class="bts-cta">
                    <a href="#" class="primary-color">Get Started</a>
                    <a href="#" class="secondary-color">How It Works</a>
                </div>
            </div>

        </div>
    </section>
    <!-- section top-header -->

    <section class="brands">
        <div class="container">

            <img src="images/Adobe.png" alt="Adobe">
            <img src="images/Mosaic.png" alt="mosaic">
            <img src="images/CoLab.png" alt="CoLab">
            <img src="images/HoltzmanPartners.png" alt="Holtzman">
        </div>
    </section>
    <!-- brands -->

    <h3>About Us</h3>
    <section class="about-us">

        <div class="container">
            <div class="about-us-description">
                <h4>Professional & Team Choose Copy.Ai</h4>
                <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit sit
                    massa ullamcorper </p>

                <a href="#" class="botagreen">
                    <a href="#" class="primary-color">Get Started</a>

                </a>
            </div>

            <div class="about-us-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/fX5WCe3d8WU?si=yLdJoepCDnQHZYya"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
        </div>

    </section>
    <!-- cbout us -->

    <section class="our-features">
        <h3>Our Features</h3>
        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/Icons/iconoir_add-folder.svg">
                </div>
                <div class="description-card">
                    <h4>Blog Content</h4>
                    <P>Write optimized blog posts in
                        a fraction of the time</P>

                    <a href="#">Try Blog Content</a>
                </div>
            </div>
            <!-- Fim:card -->

            <div class="card">
                <div class="icon-card">
                    <img src="images/Icons/iconoir_airplane-helix.svg">
                </div>
                <div class="description-card">
                    <h4> Article</h4>
                    <P>Write optimized blog posts in
                        a fraction of the time</P>

                    <a href="#">Try Blog Content</a>
                </div>
            </div>
            <!-- Fim:card -->

            <div class="card">
                <div class="icon-card">
                    <img src="images/Icons/iconoir_add-database-script.svg">
                </div>
                <div class="description-card">
                    <h4> Content Writing</h4>
                    <P>Write optimized blog posts in
                        a fraction of the time</P>

                    <a href="#">Try Blog Content</a>
                </div>
            </div>
            <!-- Fim:card -->

            <div class="card">
                <div class="icon-card">
                    <img src="images/Icons/iconoir_align-center (1).svg">
                </div>
                <div class="description-card">
                    <h4>Seo</h4>
                    <P>Write optimized blog posts in
                        a fraction of the time</P>

                    <a href="#">Try Blog Content</a>
                </div>
            </div>
            <!-- Fim:card -->

            <div class="card">
                <div class="icon-card">
                    <img src="images/Icons/iconoir_design-nib.svg">
                </div>
                <div class="description-card">
                    <h4>Desing</h4>
                    <P>Write optimized blog posts in
                        a fraction of the time</P>

                    <a href="#">Try Blog Content</a>
                </div>
            </div>
            <!-- Fim:card -->

            <div class="card">
                <div class="icon-card">
                    <img src="images/Icons/iconoir_rocket.svg">
                </div>
                <div class="description-card">
                    <h4>Coding</h4>
                    <P>Write optimized blog posts in
                        a fraction of the time</P>

                    <a href="#">Try Blog Content</a>
                </div>
            </div>
            <!-- Fim:card -->
        </div>
    </section>

    <section class="tetimonials">
        <h3>Let’s See What Our Clients Says</h3>
        <div class="container">
            <div class="testimonial-card">
                <div class="perfil">
                    <div class="photo-perfil">
                        <img src="images/Ellipse 9.svg" alt="perfil">

                        <div class="perfil-name">
                            <h4>Brooklyn Simmons</h4>
                            <p class="cargo">Nursing Assistant</p>
                        </div>
                    </div>
                    <!-- Fim:perfil -->

                    <div class="comments">
                        <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus
                            sit sit massa ullamcorper</p>
                    </div>
                </div>
            </div>
            <!-- Fim:perfil01 -->

            <div class="testimonial-card">
                <div class="perfil">
                    <div class="photo-perfil">
                        <img src="images/Ellipse 9.svg" alt="perfil">

                        <div class="perfil-name">
                            <h4>Brooklyn Simmons</h4>
                            <p class="cargo">Nursing Assistant</p>
                        </div>
                    </div>
                    <!-- Fim:perfil -->

                    <div class="comments">
                        <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus
                            sit sit massa ullamcorper</p>
                    </div>
                </div>
                <!-- Fim:perfil02 -->

            </div>
        </div>
    </section>

    <section class="Works">
        <div class="container">
            <div class="image-work">
                <img src="images/Rectangle 1.svg" alt="work">
            </div>


            <div class="description-work">
                <h4> <span>1</span>Enter your copywrite project</h4>

                <div class="content-description-work">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu
                        tempor tincidunt commodo.</p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                        <li>Tortor turpis nibh viverra nunc bibendum.</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="image-work">
                <img src="images/tecla 2.svg" alt="work">
            </div>


            <div class="description-work">
                <h4> <span>2</span>Genarate Idea</h4>

                <div class="content-description-work">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu
                        tempor tincidunt commodo.</p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                        <li>Tortor turpis nibh viverra nunc bibendum.</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="image-work">
                <img src="images/mesa 15.svg" alt="work">
            </div>


            <div class="description-work">
                <h4> <span>3</span>Copy & Use</h4>

                <div class="content-description-work">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu
                        tempor tincidunt commodo.</p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                        <li>Tortor turpis nibh viverra nunc bibendum.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="ready">
        <h3>ready to level-up</h3>
        <div class="container">
            <p>Id ipsum amet nibh dolor mi ac diam pellentesque.</p>
            <a href="#" class="primary-color">Get Started - It’s Free</a>

            <form>
                <fieldset>
                    <div class="option">
                        <input type="radio" name="plans" value="no-credit">
                        <span>No Credit Card Required</span>
                    </div>

                    <div class="option">
                        <input type="radio" name="plans" value="30-credit">
                        <span>30 credits on sign up </span>
                    </div>

                    <div class="option">
                        <input type="radio" name="plans" value="90-content">
                        <span>90+ contents type to explore </span>
                    </div>
                </fieldset>
            </form>
        </div>

    </section>

    <footer>
        <div class="container">
            <div class="product">
                <h5>product</h5>
                <li><a href="#">login</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Copy ai Reviews</a></li>
                <li><a href="#">Alternatives</a></li>
                <li><a href="#">25+ Languages</a></li>
                <li><a href="#">Free Ai Tools</a></li>
            </div>


            <div class="Company">
                <h5>Company</h5>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </div>


            <div class="Support">
                <h5>Support</h5>
                <li><a href="#">Weekly Deos</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Report a Bug</a></li>
                <li><a href="#">Report an Outage</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Request a New Feature</a></li>
            </div>
            <div class="User Casest">
                <h5>User Cases</h5>
                <li><a href="#">For Blog Writers</a></li>
                <li><a href="#">For Social Media</a></li>
                <li><a href="#">Managers</a></li>
                <li><a href="#">Report an Outage</a></li>
                <li><a href="#">Report</a></li>
            </div>
        </div>

        <div class="container">
            <div class="footer-group-links">
                <h5>Silika.ai</h5>
                <p>© 2025 copy ai, Inc </p>
                <p><a href="#">Privacy Notice</a></p>
                <p><a href="#">Terms of service</a></p>
            </div>

            <div class="social-media">
                <a href="#"><img src="images/face.svg" alt=""></a>
                <a href="#"><img src="images/insta.svg" alt=""></a>
                <a href="#"><img src="images/x.svg" alt=""></a>

            </div>
        </div>
    </footer>





</body>

</html>